{% extends 'base.html.twig' %}

{% block title %}
ESV 2017
{% endblock %}

{% block body %}

    <h1>Informations de paiement</h1>

{% endblock %}

{% block aside %}

    <h1>Importation des données</h1>

    {{ form(fileForm) }}

{% endblock%}